.red{
    background-color: red;
    padding: 2em;
}
.black{
    background-color: black;
    padding: 2em;
}
.green{
    background-color:green;
    padding: 2em;
}

.yellow{
    background-color: yellow;
    padding: 2em;
}
.blue{
    background-color: blue;
    padding: 2em;
}

.orange{
    background-color: rgb(255, 60, 0);
    padding: 2em;
}